            @import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
            @import url('https://fonts.googleapis.com/css?family=Sirin+Stencil');
            .background {
                background: linear-gradient(180deg, #ffe0c2, #b22a2a, #861516, #3b0a09);
                width: 100%;
            }
            
            p {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 1.5em;
                text-align: center
            }
            
            a {
                color: #ffe0c2;
                text-align: center;
                font-size: 1em;
            }
            
            a:hover {
                color: black;
                text-decoration-line: none;
                font-size: 1em;
            }
            
            .btn {
                background-color: transparent;
                color: black;
                font-family: 'Josefin Sans', sans-serif;
                font-size: 1.5em;
            }
            
            .btn:hover {
                background-color: transparent;
                color: black;
                border: transparent;
                font-family: 'Josefin Sans', sans-serif;
                font-size: 1.5em;
            }
            
            .btn-outline-secondary {
                color: #868e96;
                background-color: transparent;
                background-image: none;
                border-color: transparent;
                font-family: 'Josefin Sans', sans-serif;
                font-size: 30px;
            }
            
            .card {
                color: #ffe0c2;
                background: transparent;
                text-align: justify;
            }
            
            h1 {
                font-family: 'Sirin Stencil', cursive;
                font-size: 100px;
                color: black;
                text-align: center;
            }
            
            h2 {
                font-family: 'Sirin Stencil', cursive;
                font-size: 60px;
                color: black;
                margin-bottom: 90px;
                text-align: center;
            }
            
            .nav-item {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 50px;
                color: #ffe0c2;
                background-color: #b22a2a;
                text-align: center;
            }
            
            .nav-item1 {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 50px;
                color: #ffe0c2;
                background-color: #861516;
                text-align: center;
            }
            
            .nav-item2 {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 50px;
                color: #ffe0c2;
                background-color: #3b0a09;
                text-align: center;
            }
            
            .gradient {
                height: 100%;
                width: 100%;
                background-image: -webkit-linear-gradient(270deg, #ffe0c2, #b22a2a, #861516, #3b0a09);
                background-image: -moz-linear-gradient(270deg, #ffe0c2, #b22a2a, #861516, #3b0a09);
                background-image: -o-linear-gradient(270deg, #ffe0c2, #b22a2a, #861516, #3b0a09);
                background-image: -ms-linear-gradient(270deg, #ffe0c2, #b22a2a, #861516, #3b0a09);
                background-image: linear-gradient(180deg, #ffe0c2, #b22a2a, #861516, #3b0a09);
                position: relative;
            }
        }
        // Extra small devices (portrait phones, less than 576px)
        @media (max-width: 991px) {
            p {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 15px;
                text-align: center;
            }
            
            .btn {
                background-color: transparent;
                color: black;
                font-family: 'Josefin Sans', sans-serif;
                font-size: 20px;
                text-align: center;
            }
            
            h1 {
                font-family: 'Sirin Stencil', cursive;
                font-size: 100px;
                color: black;
                text-align: center;
            }
            
            h2 {
                font-family: 'Sirin Stencil', cursive;
                font-size: 50px;
                color: black;
                margin-bottom: 20px;
                text-align: center;
            }
            
            // Small devices (landscape phones, less than 768px)
            @media (max-width: 767px) {}
            
            // Medium devices (tablets, less than 992px)
            @media (max-width: 991px) {
                ...
            }
            
            // Large devices (desktops, less than 1200px)
            @media (max-width: 1199px) {
                ...
            }
            
            // Extra large devices (large desktops)
            // No media query since the extra-large breakpoint has no upper bound on its width